@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #EADEDE;
    --cor-terciaria: #B85252;
    --cor-hover: #F58840;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: aliceblue;
}

.container_menu{
    padding: 2% 0 0 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color:var(--cor-terciaria);
    text-decoration: none;
}
.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.container_wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;   
}

.title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.strong_title {
    color: var(--cor-terciaria);
}   

.text {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.links_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.links_title {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.links_link {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding:21.5px 0;
    gap: 16px;
}

.links_link:hover {
    background-color: var(--cor-hover);
}

.profile_photo {
    border-radius: 20px;
    border: 5px ridge var(--cor-hover);
    
}

.container_footer {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1470px) {
    .container_menu {
        padding: 10%;
    }

    .menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container_wrapper {
        width: auto;
    }


}
